*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(251, 239, 255);
  color: rgb(50, 20, 53);
}

header {
  display: flex;
  justify-content: center;
  border: 20px;
  font-size: 30px; 
}
header, h1{
  color: rgb(63, 9, 94);
}

form {
  display: flex;
  justify-content: center;
}

input {
  padding: 2%;
  font-size: large;
}

button {
  font-size: large;
  cursor: pointer;
}

.containerList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
}

.liTask{ 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 15px;
  font-size: 300%;
  color: rgb(26, 4, 46);
}

.liTask input[type=checkbox] { 
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 25px;
  border-radius: 4px;
  opacity: 60%;
}

.liTask button{
  background-color: rgb(238, 212, 240);
  color: rgb(124, 30, 131);
  padding: 14px;
  border: 1px;
}


